<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}devlog{% endblock %}</title>
        <style>
            body {
                max-width: 650px;
                margin: 0 auto;
                padding: 2rem 1rem;
                font-family: monospace;
                line-height: 1.6;
            }
        </style>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>